<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kal.web.mapper.MemberMapper">
	<resultMap id="Member" type="com.kal.web.domain.Member">
		<id property="userId" column="user_id" />
		<result property="userPass" column="user_pass" />
		<result property="familyName" column="family_name" />
		<result property="firstName" column="first_name" />
		<result property="korName" column="kor_name" />
		<result property="phoneNo" column="phone_no" />
		<result property="birthDate" column="birth_date" />
		<result property="userGen" column="user_gen" />
		<result property="userEmail" column="user_email" />
		<result property="userAddr" column="user_addr" />
		<result property="userPostNum" column="user_post_num" />
	</resultMap>

	<!--C -->
	<insert id="addMember" parameterType="hashMap">
	INSERT INTO MEMBER(user_id,user_pass,family_name,first_name,kor_name,phone_no,birth_date,user_gen,user_email,user_addr,user_post_num) 
	VALUES (#{id}, #{pass}, #{familyName}, #{firstName}, #{korName}, #{phoneNo}, #{birthDate}, #{gen}, #{email}, #{addr}, #{postNum})
	</insert>
	
	<select id="findNumberOfMembers" resultType="int">
	SELECT COUNT(*) FROM Member
	</select>
	
	<!--R -->
	
	<select id="idOverlapCheck" parameterType="hashMap"  resultType="int">
	SELECT COUNT(*) FROM Member WHERE user_id = #{value}
	</select>
	
	<select id="findMember" resultMap="Member" parameterType="hashMap">
	SELECT * FROM Member WHERE user_id = #{value1} AND user_pass = #{value2}
	</select>
	
	<select id="findMembers" resultMap="Member" parameterType="hashMap">
	SELECT * FROM Member WHERE ${key} LIKE #{value}
	</select>

	<!--U -->
	<update id="updateMember" parameterType="hashMap">
	UPDATE Member SET
		user_pass = #{newPw},
		user_email = #{newEmail},
		phone_no = #{newPhoneNo},
		user_addr = #{newAddr}
	WHERE user_id = #{id}
	</update>
	
	<!--D-->
	<delete id="deleteMember" parameterType="hashMap">
	DELETE FROM Member
	WHERE user_id = #{loginedId} AND user_pass = #{pw}
	</delete>
</mapper>