<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kal.web.mapper.ReservedSeatMapper">

	<!--C -->
	<insert id="addFlight">
	
	</insert>
	
	<select id="findNumberOfFlights" resultType="int">
	</select>
	

	<!--R -->
	<select id="findFlight" parameterType="hashMap">
	</select>
	
	<select id="findFlights" parameterType="hashMap">
	</select>


	<!--U -->
	<update id="updateFlight">
	</update>
	
	<!--D-->
	<select id="deleteFlight" >
	</select>

</mapper>