<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kal.web.mapper.SeatMapper" >
<resultMap id="Seat" type="com.kal.web.domain.Seat">
    <id property="id" column="seat_code"/>
    <result property="seatRow" column="seat_row"/>
</resultMap>

<insert id="addSeat">
  	
</insert>

<select id="findNumberOfSeats" resultMap="Seat" parameterType="hashMap">
   	
</select>

<select id="findSeat" resultMap="Seat" parameterType="hashMap">

</select>

<select id="findSeats" resultMap="Seat" parameterType="hashMap">
   	
</select>

<update id="updateSeat">
	
</update>

<delete id="deleteSeat" parameterType="hashMap">
  
</delete>
</mapper>